<div class="hexo-socials-item" style="padding-bottom: 10px;position: relative;clear: both;min-height: 150px;padding: 10px 0;border-bottom: 1px #ddd solid;">
 
    <style>

        .hexo-socials-tabs {
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .hexo-socials-tab {
            padding: 5px;
        }

        .hexo-socials-active {
            background: #657b83;
            color: #fff;
        }

        .hexo-socials-picture {
            position: absolute;
            left: 0;
            top: 60px;
            width: 167px;
            margin: 0;
        }

        .hexo-socials-info {
            padding-left: 175px;
        }

        .hexo-socials-meta {
            
            padding-right: 10px;
            color: #ff5e00;
        }

        .hexo-socials-comments {
            font-size: 15px;
            margin-top: 5px;
        }

        .hexo-socials-pagination {
            margin-top: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        .hexo-socials-button {
            padding: 5px;
        }

        .hexo-socials-button:hover {

            color: #fff;
        }

        .hexo-socials-hide {
            display: none;
        }

        .hexo-socials-show {
            display: block;
        }
        @media screen and (max-width: 600px) {
            .hexo-socials-picture {
                display:none;
            }
            .hexo-socials-info {
                padding-left: 0px;
            }
            .hexo-socials-item{
                min-height: auto;
            }
        }
    </style>
    <div class="hexo-socials-meta" href="./socials/index.html" style="font-size: 16px;"><a><b><%= item.ztTitle %></b></a></div>
    <div class="hexo-socials-meta" style="font-size: 13px;"><%= item.postime %> / <%= item.type.replace('赞同了回答','我赞同了该回答') %></div>
    
    <% if(item.imgurl!=null&&item.imgurl!=""){ %>
    <div class="hexo-socials-picture"><img src="<%= item.imgurl %>" data-src="<%= item.imgurl %>" referrerPolicy="no-referrer" /></div>
    <div class="hexo-socials-info">
        <div class="hexo-socials-title">
            <b><a target="_blank" href="./socials/index.html"><%= item.title %> </a></b>
        </div>
        <div class="hexo-socials-comments"> <%= item.ztContent.substr(0,imgl) %>...前往知乎<a style="text-decoration : none;" href='<%= item.href %>'>查看全文</a>。</div>
    </div>
    <% }else{%>
    <div class="">
        <div class="hexo-socials-title">
            <b><a target="_blank" href="./socials/index.html"><%= item.title %> </a></b>
        </div>
        <div class="hexo-socials-comments"> <%= item.ztContent.substr(0,blankl) %>...前往知乎<a style="text-decoration : none;" href='<%= item.href %>'>查看全文</a>。</div>
    </div>
    <% }%>
</div>


 